################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZoolanderStompin/.vs/ZoolanderStompin
/ZoolanderStompin/obj
/ZoolanderStompin/bin/Debug/net9.0
/ZoolanderStompin/packages
/ZoolanderStompin.Game/obj
/ZoolanderStompin.Tests/obj/Debug
